<body class=background>

    <div class="container mx-auto py-8">
        <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
            <div class="col-span-4 sm:col-span-3">
                <div class="bg-[#1e1e1f] shadow rounded-lg p-6">
                    <div class="flex flex-col items-center">
                        <img src="/assets/avatar.jpg" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0 ">
                        <h1 class="text-[#f8fafc] font-bold">Nishwith</h1>
                        <p class="text-[#f8fafc]">Software Dev(Not yet)</p>
                        <div class="mt-6 flex flex-wrap gap-4 justify-center">
                            <a href="#" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Contact</a>
                            <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-700 py-2 px-4 rounded">Resume</a>
                        </div>
                    </div>
                    <hr class="my-6 border-t border-gray-300">
                    <div class="flex flex-col">
                        <span class="text-[#f8fafc] uppercase font-bold tracking-wider mb-2">Skills</span>
                        <ul style="color: aliceblue;">
                            <li class="mb-2">C</li>
                            <li class="mb-2">JavaScript</li>
                            <li class="mb-2">Angular</li>
                            <li class="mb-2">Node.js</li>
                            <li class="mb-2">HTML/CSS</li>
                            <li class="mb-2">Tailwind Css</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-span-4 sm:col-span-9">
                <div class="bg-[#1e1e1f] shadow rounded-lg p-6">
                    <h2 class="text-[#f8fafc] text-xl font-bold mb-4">About Me</h2>
                    <p class="text-[#f8fafc]">Im a student i started learning programming
                        Im enthusiastic about technology and what it can do when (ab)used. This is my little corner of the World Wide Web.
                    </p>

                  


                    <h2 class="text-[#f8fafc] text-xl font-bold mt-6 mb-4">Projects</h2>
                    <h1 style="color: aliceblue;">Soon</h1>
                    <div class="mb-6">
                        <div class="flex justify-between flex-wrap gap-2 w-full">
                            <span class="text-[#f8fafc] font-bold"></span>
                            <p>
                                <span class="text-gray-700 mr-2"></span>
                                <span class="text-gray-700"></span>
                            </p>
                        </div>
                        <p class="mt-2">
                          
                        </p>
                    </div>
                    <div class="mb-6">
                        <div class="flex justify-between flex-wrap gap-2 w-full">
                            <span class="text-gray-700 font-bold"></span>
                            <p>
                                <span class="text-gray-700 mr-2"></span>
                                <span class="text-gray-700"></span>
                            </p>
                        </div>
                        <p class="mt-2">
                         
                        </p>
                    </div>
                    <div class="mb-6">
                        <div class="flex justify-between flex-wrap gap-2 w-full">
                            <span class="text-gray-700 font-bold"></span>
                            <p>
                                <span class="text-gray-700 mr-2"></span>
                                <span class="text-gray-700"></span>
                            </p>
                        </div>
                        <p class="mt-2">
                            
                        
                        </p>
                        <h2 class="text-[#f8fafc] text-xl font-bold mt-6 mb-4">Experience</h2>
                        <h1 style="color: aliceblue;">learning</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>